.omneetheader {
    height: 23px;
    width: 60%;
    color: #333333;
    font-family: "hk_grotesk";
    font-size: 18px;
    padding: 0 0;
    text-align: center;
}

.hi-i-m-navnit-virdi {
    height: 86px;
    width: 60%;
    margin-left: 20%;
    color: #666666;
    font-family: "hk_grotesk";
    font-size: 30px;
    line-height: 43px;
    max-width: 841px;
 }

.hi-i-m-navnit-virdi-title {
    height: 100%;
    width: 60%;
    color: #333333;
    font-family: "hk_groteskbold";
    font-size: 35px;
    line-height: 43px;
    margin: auto;
    padding-right: 20%;
}

.hi-i-m-navnit-virdi-text {
    height: 100%;
    width: 60%;
    color: #666666;
    font-family: "hk_grotesk";
    font-size: 30px;
    line-height: 43px;
    margin: auto;
    padding-right: 20%;
    margin-top: 14px;
}

.rectangle {
    height: 326px;
    max-height: 326px;
    margin: 9px;
    /*max-width: 463px;*/
}

.rectangle:hover {
    background: #333333;
    cursor: pointer;
}


.homeimage {
    display: relative;
    width: 100%;
    /*height: 100%;*/
    margin: auto;
}

.firsty {
    background-color:rgba(245,245,245,0.85);
}

.secondy {
    background-color:#E2ECF8;
}

.thirdy {
    background-color:#E6F8E4;
}

.fourthy {
    background-color:#FDECF5;
}

.rectangle:hover {
    background-color: #3B8EFC;
    color: white;
    /*opacity: .5;*/
}

.rectangle:hover img {
    opacity: .2;
    /*opacity: .5;*/
}

.aboutimage {
    display: relative;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.deshown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.rectangle:hover .deshown {
    /*display: relative;*/
    font-family: "hk_grotesklight";
    visibility: visible;
    opacity: 1;
    font-size: 16px;
    /*opacity: .5;*/
}

.abouticons {
    margin-right: 40px;
}

.playinline {
    display: inline;
}

.projectname {
    float: left;
    padding-top: 23px;
    padding-left: 18px;
    font-family: "hk_groteskbold";
    font-size: 18px;
}

.projectname:hover {
    color: white;
}

.footerhome {
    margin: auto;
    width:  60%;
    color: #999999;
    margin-bottom: 10px;
    font-family: "hk_grotesk";
    font-size: 16px;
    padding-left: 27px;
}

.paraheaders {
    color: #333333;
    font-family: "hk_groteskbold";
    font-size: 25px;
    font-weight: bold;
    width: 60%;
    margin: auto;
    padding-left: 27px;
    padding-top: 27px;
    padding-right: 22px;
    line-height: 31px;
}

.paratext {
    color: #333333;
    font-family: "hk_grotesklight";
    font-size: 18px;
    width: 60%;
    margin: auto;
    padding-left: 27px;
    padding-right: 22px;
    line-height: 31px;
}

.icontext {
    color: #333333;
    font-family: "hk_grotesklight";
    font-size: 14px;
    width: 60%;
    margin: auto;
    /*padding-left: 27px;*/
    padding-right: 22px;
    line-height: 31px;
}

.iconspu {
    margin-left: 14px;
    margin-right: 20px;
}


.list-horizontal {
    width: 60%;
    margin-left: 19%;
    font-size: 18px;
    font-family: 'hk_grotesklight';
    margin-top: 18px;
}

.list-horizontal li {
    display:inline-block;
}

.list-horizontal li:before {
    content: '\00a0\2022\00a0\00a0';
    color:#999;
    color: white;
    font-size:4px;
    border: solid 1px;
    border-color: #999;
    border-radius: 6px;
    margin: 2px;
    position: relative;
    bottom: 4px;
}

.whillist {
    width:60%;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}

.digilock-list {
    font-family: "hk_grotesklight_italic";
    list-style-type: circle;
}

.whilflow {
    font-size: 20px;
    font-family: "hk_grotesk";
    position: absolute;
    margin-top: 2.5em;
}

.role {
    padding-left: 27px;
    padding-top: 27px;
}

.aboutwidth {
    width: 65%;
}

.linky {
    color: #459eea;
    font-family: "hk_groteskbold";
    font-size: 20px;
    background-color: transparent;
}

.mobilefont {
    font-size:20px;
    margin-left: 19.5%;
    margin-right:15%;
    margin-top: 28px;
}

.mobileefont {
    font-size:16px;
    margin-left: 28px;
    margin-right:11%;
    margin-top: 28px;
}

.protobutton {
    height: 42px;
    width: 167px;
    border: 1px solid #3B8EFC;
    border-radius: 2px;
    color: #3B8EFC;
    font-family: "hk_grotesklight";
    font-size: 18px;
}

.protobutton:hover {
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: white;
    background-color: #3B8EFC;
}


@media (max-width: 1435px) {
    /*.rectangle {*/
        /*height: 100%;*/
        /*max-height: 276px;*/
        /*min-height: 220px;*/
        /*margin: 0px 18px 0px 0px;*/
        /*max-width: 463px;*/
    /*}*/
    /*.homeimage {*/
        /*max-height: 276px*/
    /*}*/
}

/*@media (min-width: 1435px) {*/
    /*.omneetheader {*/
        /*width: 970px;*/
        /*margin-left: 20%;*/
    /*}*/
/*}*/

@media (max-width: 768px) {
    .rectangle {
        /*height: 100%;*/
        max-height: 210px;
        min-height: 200px;
        /*margin: 0px 18px 0px 0px;*/
        /*max-width: 463px;*/
    }
    .homeimage {
        max-height: 200px
    }
    .whilflow {
        margin-top: 10px;
    }
    .iconspu {
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: 800px) {
    .mobilefont {
        font-size: 14px;
        margin-left: 10%;
        margin-right:8%;
    }
    .mobileefont {
        font-size: 8px;
        margin-left: 2%;
        margin-right:1%;
    }
}

@media (max-width: 1400px) {
    .mobileefont {
        font-size: 12px;
        margin-left: 4%;
        margin-right:4%;
    }
}

@font-face {
    font-family: 'hk_groteskbold';
    src: url('hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskbold_italic';
    src: url('hkgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskbold_legacy';
    src: url('hkgrotesk-boldlegacy-webfont.woff2') format('woff2'),
         url('hkgrotesk-boldlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskbold_legacy_italic';
    src: url('hkgrotesk-boldlegacyitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-boldlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskitalic';
    src: url('hkgrotesk-italic-webfont.woff2') format('woff2'),
         url('hkgrotesk-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklegacy_italic';
    src: url('hkgrotesk-legacyitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-legacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight';
    src: url('hkgrotesk-light-webfont.woff2') format('woff2'),
         url('hkgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight_italic';
    src: url('hkgrotesk-lightitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight_legacy';
    src: url('hkgrotesk-lightlegacy-webfont.woff2') format('woff2'),
         url('hkgrotesk-lightlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesklight_legacy_italic';
    src: url('hkgrotesk-lightlegacyitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-lightlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskmedium';
    src: url('hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('hkgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskmedium_italic';
    src: url('hkgrotesk-mediumitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskmedium_legacy';
    src: url('hkgrotesk-mediumlegacy-webfont.woff2') format('woff2'),
         url('hkgrotesk-mediumlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskMdlegacyIt';
    src: url('hkgrotesk-mediumlegacyitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-mediumlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesk';
    src: url('hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskregular_legacy';
    src: url('hkgrotesk-regularlegacy-webfont.woff2') format('woff2'),
         url('hkgrotesk-regularlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('hkgrotesk-semibold-webfont.woff2') format('woff2'),
         url('hkgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold_italic';
    src: url('hkgrotesk-semibolditalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_grotesksemibold_legacy';
    src: url('hkgrotesk-semiboldlegacy-webfont.woff2') format('woff2'),
         url('hkgrotesk-semiboldlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hk_groteskSBdlegacyIt';
    src: url('hkgrotesk-semiboldlegacyitalic-webfont.woff2') format('woff2'),
         url('hkgrotesk-semiboldlegacyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#myNavBar {
    padding-left: 0px;
    padding-right: 0px;
}

.hihover:hover {
    font-family: "hk_groteskbold";
}

.navi {
    width: 70px;
}

.navi:hover {
    width: 80px;
}
